form {
  padding: 30px 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  gap: 10px;
}

input,
select,
button {
  padding: 5px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 1px solid red;
}
